.constrain {
  padding: 0 $baseUnit;
  @include media($breakLaptop) {
    padding: 0 $baseUnit*2;
  }
}

.constrain--hero {
  position: relative;
  z-index: $z-indexSheet - 1;
  padding: $baseUnit $baseUnit 0 ;
  @include media($breakLaptop) {
    padding: $baseUnit $baseUnit*2 0 ;
  }
  @include media($breakDesktopWide) {
    padding: $baseUnit $baseUnit*6 $baseUnit*2;
  }
}

.constrain--project-image {
  position: relative;
  z-index: $z-indexSheet - 1;
}

.constrain--sheet {
  position: relative;
  z-index: $z-indexSheet;
}

.constrain--text {
  margin: 0;
  padding: 0;
}
