.fading-seperator {
  position: relative;
  margin-bottom: $baseUnit/2;
  &:after {
    position: absolute;
    content: '';
    left: -5px;
    right: 0;
    bottom: 0;
    height: 2px;
    margin-bottom: -$baseUnit/4;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 10px, rgba(0,0,0,0) 100%);
  }

  &--center {
    overflow: hidden;
    margin-bottom: 0;
    &:after {
      margin-bottom: 0;
      background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,0) 100%);
    }
  }
}

.fading-box {
  @include media(max-width $breakLaptop) {
    margin-left: -$baseUnit*2;
    padding: $baseUnit $baseUnit $baseUnit $baseUnit*2;
    background: linear-gradient(to right, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%);
  }
}
