$breakModal: $breakLaptop min-height 600px;

.modal-wrapper {
  position: fixed;
  z-index: $z-indexModal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $baseUnit*2;
  @include media($breakModal) {
    padding: $baseUnit*4;
  }
  background: rgba(0,0,0,.8);
  opacity: 0;
  transition: .3s;
  overflow: scroll;
  &--active {
    opacity: 1;
  }
}

.modal {
  margin: 0 auto;
  padding: $baseUnit;
  max-width: 600px;
  background: #fff;
  opacity: 0;
  transition: .3s;
  transform: translateY(10%);
  @include media($breakModal) {
    padding: $baseUnit*2;
  }
  .modal-wrapper--active & {
    opacity: 1;
    transform: translateY(0);
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.modal--centered {
  @include media($breakModal) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-30%) translateX(-50%);
  }
  .modal-wrapper--active & {
    @include media($breakModal) {
      transform: translateY(-50%) translateX(-50%);
    }
  }
}

.modal-content {
  display: none;
}
