.nav--slash {
  @include font-size(18px);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  a {
    color: $colorSheetText;
  }
  > li {
    &:before {
        content: "/" "\00A0";
    }
    &:first-child:before{
      display: none;
    }
  }
}

.nav--spaced {
  > li {
    margin: 0 $baseUnit/2;
  }
  @include media(max-width $breakLaptop) {
    > li {
      display: block;
      margin-bottom: $baseUnit/2;
    }
  }
}
