.project-image {
  position: relative;
  z-index: -1;
  max-width: 100% !important;
}

.project-image--pullup {
  margin-bottom: -200px;
  @include media($breakTablet) {
    margin-bottom: -250px;
  }
  @include media($breakLaptop) {
    margin-bottom: -350px;
  }
}
