.project-table {
  display: table;
  width: 100%;

  &__row {
    display: table-row;
  }

  &__date,
  &__title,
  &__category {
    padding: $baseUnit/1.5 0;
    display: table-cell;
    border-bottom: 2px solid $colorBorderLight;
  }
}

.project-table__row--header,
.project-table__row:last-child {
  .project-table__date,
  .project-table__title,
  .project-table__category {
    border-bottom: 2px solid $colorBorderDark;
  }
}

@include media(max-width $breakDesktop) {
  .project-table__category {
    display: none;
  }
}


@include media(max-width $breakLaptop) {
  .project-table {
    border-top: 2px solid $colorBorderDark;
    border-bottom: 2px solid $colorBorderDark;
  }
  .project-table__row,
  .project-table__date,
  .project-table__title,
  .project-table__category {
    display: block;
  }

  .project-table__row--header {
    display: none;
  }

  .project-table__row {
    border-bottom: 2px solid $colorBorderDark;
    &:last-child {
      border-bottom: none;
    }
  }

  .project-table__date,
  .project-table__title,
  .project-table__category {
    position: relative;
    border-bottom: none !important;
  }

  .project-table__date {
    display: none;
  }

  .project-table__category {
    display: none;
  }

}
