.project-image {
  position: relative;
  max-width: 100% !important;
}

.project-image--pullup {
  margin-bottom: -15%;
/*   @include media($breakTablet) {
  margin-bottom: -250px;
}
@include media($breakLaptop) {
  margin-bottom: -350px;
} */
}
