.sheet {
  margin-top: $baseUnit*2;
  padding: $baseUnit*4 $baseUnit*2;
  background: linear-gradient(135deg, #EBDECC 0%, #F6EDDF 100%);
  box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.1);
}
