.sheet {
  margin-top: $baseUnit*2;
  margin-bottom: $baseUnit*2;
  padding: $baseUnit*2 $baseUnit;
  @include media($breakLaptop) {
    padding: $baseUnit*4 $baseUnit*2;
  }
  @include media($breakDesktopWide) {
    padding: $baseUnit*4 $baseUnit*4;
  }
  background: linear-gradient(135deg, $colorSheetBackgroundBase 80%, #F6EDDF 100%);
  box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.1);
  color: $colorSheetText;
}
