.site-header {
  background: $colorSiteHeader;
  padding: $baseUnit/1.5 0;
  @include media($breakLaptop) {
    @include font-size(18px, false);
  }
  line-height: 2;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: $colorSheetBackgroundBase;
  a {
    color: rgba($colorSheetBackgroundBase, .3);
    transition: .3s;
    &:hover {
      text-decoration: none;
      color: rgba($colorSheetBackgroundBase, .6);
    }
  }
}

.logo__dir {
  color: $colorSheetBackgroundBase;
}
