.typewriter {
  &,
  p {
    font-family: $fontSecondary;
    text-transform: uppercase;
    color: darkblue;
    @include font-size(18px,false);
    line-height: 1.25;
    @include media($breakTablet) {
      @include font-size(24px,false);
    }
    a {
      color: darkblue;
      text-decoration: underline;
      &:hover {
        color: darken(darkblue, 10%);
        font-weight: bold;
      }
      &:focus,
      &:active {
        animation-duration: .2s;
        animation-name: linkClick;
        animation-iteration-count: 1;
      }
    }
  }
}

ul.typewriter,
.typewriter ul {
  list-style: none;
  margin-left: 0;
  li {
    margin-left: $baseUnit;
    position: relative;
  }
  li:before {
    position: absolute;
    left: -$baseUnit;
    content: '\2014';
    margin-right: $baseUnit/2;
  }
}

.typewriter__prefill {
  font-family: $fontPrimary;
  color: $colorSheetText;
  position: relative;
  top: -2px;
  display: inline-block;
}
