.typewriter {
  font-family: $fontSecondary;
  text-transform: uppercase;
  color: darkblue;
  @include font-size(24px);
  a {
    color: darkblue;
    text-decoration: underline;
    &:hover {
      color: darken(darkblue, 30%);
    }
  }
}

ul.typewriter {
  list-style: none;
  margin-left: 0;
  li {
    margin-left: 0;
  }
  li:before {

    content: '—';
    margin-right: $baseUnit/2;
  }
}
