.typewriter {
  font-family: $fontSecondary;
  text-transform: uppercase;
  color: darkblue;
  @include font-size(24px);
  a {
    color: darkblue;
    text-decoration: underline;
    &:hover {
      color: darken(darkblue, 30%);
    }
  }
}
