/**
 * style.scss
 *
 * Author: marian friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$navObject: true;
$gridObject: true;
$constrainObject: true;

/* fonts & font sizes */

$fontPrimary: "futura-pt", "Helvetica Neue", sans-serif;
$fontSecondary: "letter-gothic-std", monospace;

$baseFontSize: 16px;
$baseLineHeight: 24px;

$headingSize1: 72px;
$headingSize2: 48px;
$headingSize3: 36px;
$headingSize4: 32px;
$headingSize5: 24px;
$headingSize6: 18px;

/* colors */

$colorDark: #3F2613;

$colorText: #000;
$colorGreyText: #666;
$colorSheetText:  $colorDark;

$colorSheetBackgroundBase: #EBDECC;

$colorBorderDark: $colorDark;
$colorBorderLight: #d9c9b7;



/* constrains */

$constrainSmall:   380px!default;
$constrainMedium:  480px!default;
$constrainLarge:   720px!default;
$constrainMax:     1300px!default;

/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';

/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

@import 'constrain';
@import 'nav';

@import 'typo';
@import 'base';
@import 'sheet';
@import 'headline';
@import 'text-group';
@import 'labeled-text';
@import 'typewriter';
@import 'project-table';
@import 'project-image';
@import 'fading-seperator';
@import 'site-footer';
@import 'copyright';
