/**
 * style.scss
 *
 * Author: marian friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$navObject: true;
$gridObject: true;
$constrainObject: true;

/* fonts & font sizes */

$fontPrimary: "futura-pt", "Helvetica Neue", sans-serif;
$fontSecondary: "letter-gothic-std", monospace;

$baseFontSize: 16px;
$baseLineHeight: 24px;

$headingSize1: 72px;
$headingSize2: 48px;
$headingSize3: 36px;
$headingSize4: 32px;
$headingSize5: 24px;
$headingSize6: 18px;

/**
 * basicss import
 */

@import 'bower_components/basicss/basicss';

/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

@import 'typo';
@import 'base';
@import 'sheet';
@import 'headline';
