/**
 * style.scss
 *
 * Author: marian friedmann
 *
 */

/**
 * basicss overrides
 *
 * any defaults in basicss/basicss/_settings.scss
 * may be overridden...
 *
 * e.g. $prototyping: true;
 */

$navObject: true;
$gridObject: true;
$buttonObject: true;
$constrainObject: true;

/* fonts & font sizes */

$fontPrimary: "futura-pt", "Helvetica Neue", sans-serif;
$fontSecondary: "letter-gothic-std", monospace;

$baseFontSize: 16px;
$baseLineHeight: 24px;

$headingSize1: 72px;
$headingSize2: 48px;
$headingSize3: 36px;
$headingSize4: 32px;
$headingSize5: 24px;
$headingSize6: 18px;

/* colors */

$colorDark: #3F2613;

$colorText: #000;
$colorGreyText: #666;
$colorSheetText:  $colorDark;

$colorSheetBackgroundBase: #EBDECC;
$colorSiteHeader: #64615D;

$colorBorderDark: $colorDark;
$colorBorderLight: #d9c9b7;

$colorLink: $colorSiteHeader;

/* z-indexes */

$z-indexSheet: 999;

/* constrains */

$constrainSmall:   380px;
$constrainMedium:  720px;
$constrainLarge:   960px;
$constrainMax:     1300px;

/**
 * basicss import
 */

@import 'vendor/bower_components/basicss/basicss';

/**
 * userstyle imports
 *
 * e.g. @import 'nav';
 */

@import 'constrain';
@import 'nav';
@import 'icon';
@import 'button';

@import 'site-header';
@import 'logo';
@import 'flag';
@import 'typo';
@import 'base';
@import 'sheet';
@import 'headline';
@import 'text-group';
@import 'labeled-text';
@import 'typewriter';
@import 'emoji';
@import 'tooltip';
@import 'rounded-image';
@import 'project-table';
@import 'project-image';
@import 'fading-seperator';
@import 'site-footer';
@import 'wobbly-eyes';
@import 'copyright';
@import 'modal';
@import 'gpg-block';
